* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background-color: #47474d;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}


h2,
h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;  
}
